{% extends "index.html" %}

{% block content %}
<div class="container-fluid flex-column h-100">
    {% include 'header.html' %}
    <div class="row r3">
        <div class="col-md-3">
            <form class="form-contact">
                {% for key, value in fields.items() %}
                    <h5 class="my-1">
                        {% if key=='stator_blade' %}
                            Лопатка статора
                        {% elif key=='rotor_blade'  %}
                            Лопатка ротора
                        {% else %}
                            Параметры потока
                        {% endif %}
                    </h5>
                    <div class="row g-3">
                        {% for k, v in value.items() %}
                            <!-- TODO fix this statement -->
                            {% if 'beta_' in v['mathform'] or 
                                'alpha_' in v['mathform']  or 
                                'gamma_' in v['mathform'] or 
                                'r_' in v['mathform']  or 
                                'c_' in v['mathform']  or 
                                'w_' in v['mathform'] %}
                                <div class="col-6 px-1">
                                    <div class="input-group form-group my-1" data-bs-toggle="tooltip" data-bs-placement="top" title="{{v['description']}}">
                                        <span class="input-group-text">{{ v['mathform'] }}</span>
                                        <input type="number" class="form-control" id="{{ k }}" name="{{ k }}" step=".01" value="{{v['default']}}">
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-12 px-1">
                                    <div class="input-group form-group my-1" data-bs-toggle="tooltip" data-bs-placement="top" title="{{v['description']}}">
                                        <span class="input-group-text">{{ v['mathform'] }}</span>
                                        <input type="number" class="form-control" id="{{ k }}" name="{{ k }}" step=".01" value="{{v['default']}}">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
                <hr width="300px">
                <button type="submit" onclick="fetchDataFromApi(this.form); return false" class="btn btn-outline-dark btn-lg btn-block">
                    Построить
                </button>
            </form>
        </div>
        <div class="col-md-9">
            <div id="chart_area" class="mr-5 w-100 h-100"></div>
        </div>
    </div>
</div>
{% endblock %}